{% extends "htmx/base.html" %}

{% block main %}

<form action="{% url 'htmx:destinations-create' %}" method="post">
    {% csrf_token %}
    <fieldset class="menu menu-horizontal menu-md border border-primary items-center gap-4">
        <legend class="menu-title">Create destination</legend>

        {% for field in form %}
        <label class="input input-bordered flex items-center gap-2">
            {{ field.label }}
            {{ field }}
        </label>

        {% empty %}
        <p>
            Something went wrong
        </p>
        {% endfor %}
        <input type="submit" value="Create" class="btn btn-primary">
    </fieldset>
</form>

{% endblock main %}
