<div class="flex w-full">

    <form action="{% url 'htmx:destinations-update' form.instance.id%}" method="post">
        {% csrf_token %}
        <fieldset class="menu menu-horizontal menu-md items-center gap-4">
            {% for field in form %}
            <label class="input input-bordered flex items-center gap-2">
                {{ field.label }}
                {{ field }}
            </label>

            {% empty %}
            <p>
                Something went wrong
            </p>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Update" class="btn btn-primary">
    </form>

    <form action="{% url 'htmx:destinations-delete' form.instance.id%}" method="post">
        {% csrf_token %}
        <fieldset class="menu menu-horizontal menu-md items-center gap-4">
            <input type="submit" value="Delete" class="btn btn-secondary">
        </fieldset>
    </form>

</div>
